<template id="commentCard">
  <article class="comment__card card--hover">

    <!-- 헤더 -->
    <div class="comment__header">
      <div class="author">
        <div class="author__avatar" aria-hidden="true"></div>
        <a class="author__url" target="_blank" rel="noopener noreferrer"></a>
        <div class="author__name"></div>
        <time class="createdAt"></time>
      </div>

      <!-- 오른쪽: 답글/수정/삭제 중 답글은 모든 경우 다 존재 해아함 -->
      <div class="toolbar">
        <button class="btn btn--ghost btn--small" data-action="reply">답글</button>
        <button class="btn btn--ghost btn--small" data-action="edit">수정</button>
        <button class="btn btn--ghost btn--small" data-action="delete">삭제</button>
      </div>
    </div>

    <!-- 본문 -->
    <div class="comment__body">
      <div class="comment__content"></div>
    </div>

    <!-- 대댓글이 들어갈 영역 -->
    <div class="replies"></div>
  </article>
</template>
